.match__main-content {
	width: 95%;
	margin: 2% auto;

	&:nth-child(odd) {
		background: #EFF3FC;
	}
}

.match__info {
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	text-align: center;
	@include media-breakpoint-down(lg) {
		flex-direction: column;
	}
}

.match__player {
	display: flex;
	justify-content: space-between;
}

.match__player-stats {
	@include media-breakpoint-down(xxl) {
		b {
			color: #2B7BFB;
		}
	}
	@include media-breakpoint-down(xl) {
		b {
			display: none;
		}
	}
	@include media-breakpoint-down(lg) {
		b {
			display: inline;
		}
	}
}

.match__team1-players {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	width: 37%;
	padding: 15px 20px;
	background: #fff;
	border-radius: 10px;
	@include media-breakpoint-down(lg) {
		width: 100%;
	}
}

.match__team2-players {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	width: 37%;
	padding: 15px 20px;
	background: #fff;
	border-radius: 10px;
	@include media-breakpoint-down(lg) {
		width: 100%;
	}
}

.match__maps {
	width: 26%;
	display: flex;
	padding: 5px;
	flex-direction: column;
	justify-content: space-between;
	@include media-breakpoint-down(lg) {
		width: 100%;
	}
}

.match__map {
	// height: 30%;
	position: relative;
	border: 1px solid #fff;
	border-radius: 15px;
	overflow: hidden;
	background: #fff;
	padding: 2% 0;
	
	@include media-breakpoint-down(lg) {
		margin-top: 2%;
		text-align: right;
	}

	.map__img {
		margin-right: 10px;
		position: absolute;
		height: 100%;
		width: 40%;
		top: 0;
		left: 0;
		display: block;
		@include media-breakpoint-down(xxl) {
			width: 30%;
		}
		@include media-breakpoint-down(xl) {
			width: 0;
		}
		@include media-breakpoint-down(lg) {
			width: 40%;
		}
	}
}

.match__map-score {
	width: 60%;
	float: right;
	text-align: center;
	align-items: center;
	margin: 0;
	display: flex;
	justify-content: center;

	@include media-breakpoint-down(xxl) {
		width: 70%;
	}
	@include media-breakpoint-down(xl) {
		width: 90%;
	}
	@include media-breakpoint-down(lg) {
		width: 60%;
	}

	.map__score {
		// display: table-cell;
		// vertical-align: middle;
		padding: 0 10px;
		font-weight: 600;
		font-size: 15px;
	}

	.map__winner {
		color: #2B7BFB;
	}
}

.map__team1-logo {
	width: 25%;
}

.map__team2-logo {
	width: 25%;
}

.player__nickname {
	font-weight: 600;
}

.player__adr {
	margin-left: 20px;
	b {
		
	}
	@include media-breakpoint-down(xxl) {
		display: none;
	}
	@include media-breakpoint-down(xl) {
		display: inline;
	}
}

// .player__country {
// 	width: 18px;
// 	height: 12px;
// 	margin-top: 10px;
// }

