#button-to-top {
    background-color: #2B7BFB;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    bottom: 60px;
    right: 30px;
    visibility: hidden;
    z-index: 1000;
    margin-right: calc(55vw - 960px);
    margin-bottom: 150px;

    transition: visibility .2s, opacity .2s linear, background-color .1s linear;
}

#button-to-top:hover {
    cursor: pointer;
    background-color: #333;
}

#button-to-top:active {
    background-color: #555;
}

#button-to-top::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 1.5em;
    line-height: 50px;
    color: #fff;
}