$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        sxxl: 1340px,
        xxl: 1444px,
        xxxl: 1520px
);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1180px,
        sxxl: 1300px,
        xxl: 1380px,
        xxxl: 1480px
);