/* The sidebar menu */
.sidenav {
	width: 120px; 
	height: 100%;
	position: fixed; 
	z-index: 100;
	top: 0;
	background-color: #2B7BFB; 
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	@include media-breakpoint-down(xs) {
		padding-top: 0;
		flex-direction: row;
		width: 100%; 
		height: 60px;
	}
}

.sidenav a {
	text-decoration: none;
	font-size: 10px;
}

.user__actions {
	margin-top: 30px;
	margin-bottom: 30px;
	width: 95%;
	height: 30px;
	overflow: hidden;
	display: flex;
	align-items: center;
	text-align: center;
	
	a {
		border: 2px solid #fff;
	    background: #fff;
	    line-height: 25px;
		transition: opacity .1s linear;
	}

	a:hover {
		opacity: .85;
	}

	@include media-breakpoint-down(xs) {
		display: none;
	}
}

.user__profile {
	width: 70%;
	height: 100%;
	
    border-radius: 10px 0 0 10px;
    
    font-weight: 500;
    color: #000;
    text-decoration: none;
}

.user__delim {
    display: block;
    width: 2px;
    // top: -2px;
    height: 100%;

    background-color: #2B7BFB;
}

.user__settings {
	width: 30%;
	height: 100%;

    border-radius: 0 10px 10px 0;

	img {
		margin: 8% auto;
		height: 80%;
		width: auto;
	}
}

.sidenav__options {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	text-align: center;
	@include media-breakpoint-down(xs) {
		flex-direction: row;
	}
}

.sidenav__option {
	margin: 12px 0;
	padding: 20px 0;
	width: 90%;

	transition: filter .15s linear, background .15s linear, border-radius .15s linear, transform .15s linear;

	img {
		margin-right: 10%;
	}

	&.active {
		background: #F6F6F6;
		border-radius: 20px 0px 0px 20px;
	}

	&:hover {
		background: #F6F6F6;
		border-radius: 20px 0px 0px 20px;
		transform: translateX(20px);
		img {
			filter: invert(0.67) sepia(1) saturate(5) hue-rotate(175deg);
		}
	}

	&.active {
		transform: none;
		img {
			filter: none;
		}
	}

	@include media-breakpoint-down(xs) {
		// margin: 0 12px;
		min-width: 25%;
		&.additional {
			display: none;
		}
		&.active {
			// border-radius: 20px 20px 0 0;
			border-radius: 0;
		}
		&:hover {
			background: #F6F6F6;
			border-radius: 0;
			transform: none;
		}
		img {
			margin: 0 auto;
		}
	}
}

.ollo-logo {
	margin: 3%;
}

.sidenav__delim {
	width: 100%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}

