<footer class="footer">
    <div class="container">

        <div class="row">
            <div class="col-lg-9">
                <div class="footer__content">
                    <div class="footer__social">
                        <a href="" class="footer__contact-img"><img src="assets/img/icons/footer/yt-icon.svg" alt="" class=""></a>
                        <a href="" class="footer__contact-img"><img src="assets/img/icons/footer/tg-icon.svg" alt="" class=""></a>
                        <a href="" class="footer__contact-img"><img src="assets/img/icons/footer/vk-icon.svg" alt="" class=""></a>
                    </div>
                    <div class="footer__links">
                        <a href="" class="footer__link">О проекте</a>
                        <a href="" class="footer__link">Карьера</a>
                        <a href="" class="footer__link">Контакты</a>
                        <a href="" class="footer__link">Правила</a>
                        <a href="" class="footer__link">Пользовательское соглашение</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="footer__copyright">
                    <p class="copyright">©  OLLO.gg </p>
                    <p class="bet">18+ <a href="#" class="bet-rules">Bet responsibly</a></p>
                    <p class="credentials">Made by <a href="#" class="cred-link">maked.me</a></p>
                </div>
            </div>
        </div>
    </div><!-- /.container -->
</footer>
