body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    
    font-size: 15px;
    line-height: 1.6;
    color: #202020;
    background: #F7F7F7;

    padding-left: calc(45vw - 960px);
    padding-right: calc(45vw - 960px);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}


/* Bootstrap */
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "blocks/base/custom";

@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/grid";
@import "../../../node_modules/bootstrap/scss/utilities/flex";
@import "../../../node_modules/bootstrap/scss/utilities/spacing";



@import "blocks/base/header";
@import "blocks/base/sidenav";
@import "blocks/base/button";
@import "blocks/base/footer";


@import "blocks/index/index";
@import "blocks/index/matches";
@import "blocks/index/ads";
@import "blocks/index/switcher";
@import "blocks/index/match-slideout";
@import "blocks/index/streams";
